* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	min-height: 100% !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.zzz-container {
  position: absolute;
  top: 50%;
  left: 50%;
}

.zzz {
    animation-name: zzz;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: forwards;
    color: rgba(160,84,246,1);
    font-weight: bold;
    position: absolute;
    z-index: 100;
    transform: translateY(100%);
    font-family: 'Concert One', cursive;
    pointer-events: none;
}

.zzz-z {
    animation-delay: 0s;
    right: 10px;
}
.zzz-zz {
    animation-delay: 0.5s;
    right: -20px;
}
.zzz-zzz {
    animation-delay: 1s;
    right: 0;
}


/* *** All Animations *** */
/*Darker Sky*/
@-webkit-keyframes zzz {
	0% {
        color: rgba(160,84,246,0);
        font-size: 30px;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        color: rgba(160,84,246,1);
        font-size: 72px;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes zzz {
    0% {
        color: rgba(160,84,246,0);
        font-size: 30px;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        color: rgba(160,84,246,1);
        font-size: 72px;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.wakeUp {
    position: relative;
    margin-top: auto;
    margin-bottom: 2em;
    border: none;
    z-index: 9999;
}

.wakeUp img {
    width: 120px;
}

.wakeUp button {
    border: transparent;
    background: transparent;
}